body {
  font-family: sans-serif;
}

.app-nav {

}

.app-nav-wrapper {
  list-style: none;
  padding: 0;
  margin: 32px auto;
  text-align: center;
}

.app-nav-link a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #333 !important;
}

.app-nav-link a:hover {
  color: #2986f1ec !important;
}

.app-home {
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

.btn {
  padding: 3px 9px;
  cursor: pointer;
}

input[type=text], input[type=date] {
  padding: 8px !important;
}

.btn {
  padding: 0.4rem 1rem;
}


.page-title {
  color: #333;
  font-weight: 400 !important;
}