#add-member-form {
  display: none;
}

#edit-member-form, #add-member-form {
  margin-top: 1rem;
}

.app-manage-members {
  margin: 0 auto;
  max-width: 800px;
  padding: 1.5rem;
}

.app-members-table {
  margin-top: 25px;
}

.table-row {
  display: grid;
  margin: 0.1rem 0;
  align-items: center;
}

.table-actions {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 15px;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.form-actions {
  margin-top: 25px;
}
