#add-member-form {
  display: none;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0.1rem 0;
  align-items: center;
}

.table-actions {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 15px;
}

.btn {
  padding: 3px 9px;
  cursor: pointer;
}

input[type=text] {
  padding: 4px 9px;
  
}